<!DOCTYPE html>
<html lang="en">
{{- $file := print (.Req.PathValue `slug`) `.md`}}
{{- if not (.Posts.Exists $file)}}
{{- block "head" list . "Post not found"}}
<head>
<meta charset="utf-8">
<title>{{. | idx 1}}</title>
{{- $hash := (. | idx 0).X.StaticFileHash "/assets/style.css"}}
<link rel="stylesheet" href="/assets/style.css{{$hash}}" integrity="{{$hash}}">
</head>
{{- end}}
<body>
<h1>Post not found</h1>
<p><a href="/">Back home</a></p>
</body>
</html>
{{- .Resp.ReturnStatus 404}}
{{- else }}
{{- $post := markdown (.Posts.Read $file)}}
{{- template "head" list . $post.Meta.title}}
<body>
<h1>{{$post.Meta.title}}</h1>
<p><em>{{$post.Meta.date}}</em></p>
{{$post.Body}}
</body>
{{- end}}
</html>
