<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.6/dist/htmx.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/sse.js"></script>

<div hx-ext="sse" sse-connect="/events" sse-swap="message">
	Contents of this box will be updated in real time
	with every SSE message received from the event stream
</div>

{{- define "SSE /sse/events"}}
{{- $count := .Req.URL.Query.Get `count` | default `100` | atoi}}
{{- $delay := .Req.URL.Query.Get `delay` | default `100` | atoi}}
{{- range .Flush.Repeat $count }}
data: {{.}}{{printf "\n\n"}}{{ $.Flush.Flush }}{{ $.Flush.Sleep $delay }}
{{- end}}
{{- end}}
