<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>My Blog</title>
{{- with $hash := .X.StaticFileHash `/assets/style.css`}}
<link rel="stylesheet" href="/assets/style.css?hash={{$hash}}" integrity="{{$hash}}">
{{- end}}
</head>
<body>
<h1>My Blog</h1>
<ul>

{{- $posts := dict }}
{{- range .Posts.ReadDir `.`}}
{{- $slug := trimSuffix `.md` .Name}}
{{- $post := markdown ($.Posts.Read .Name)}}
{{- $id := cat $post.Meta.date "_" .Name}}
{{- $_ := set $posts $id (dict "Name" .Name "Meta" $post.Meta "Slug" $slug)}}
{{- end}}

{{- range $id := $posts | keys | sortAlpha}}
{{- $post := get $posts $id}}
<li>
<a href="/posts/{{$post.Slug}}">{{$post.Meta.title}}</a> — {{$post.Meta.summary}}
</li>
{{- end}}
</ul>
</body>
</html>
