{{define "create-migration-tables"}}
{{.DB.Exec `CREATE TABLE IF NOT EXISTS migration_files(id INT PRIMARY KEY, name TEXT NOT NULL) STRICT;`}}
{{.DB.Exec `CREATE TABLE IF NOT EXISTS migrations(id ANY, executed_at TEXT NOT NULL, stmt TEXT NOT NULL, error TEXT, result TEXT, ok INT GENERATED ALWAYS AS (error IS NULL)) STRICT;`}}
{{.DB.Exec `CREATE INDEX IF NOT EXISTS successful_migrations ON migrations(id) WHERE ok;`}}
{{end}}

<!--
'migrate' accepts a dot value with fields DB, ID, and STMT. Performs a database
migration by executing the statement if a migration with the same ID has not
succeeded. Must call `create-migration-tables` once before calling this
template.

Invoke like: {{template "migrate" (dict "DB" .DB "ID" 2024032816100 "STMT" `ALTER TABLE user ADD last_login DATETIME`)}}
-->
{{define "migrate"}}
{{$applied := .DB.QueryVal `SELECT COUNT(id) FROM migrations WHERE ok AND id=?;` .ID}}
{{if eq $applied 0}}
{{$result := try .DB `Exec` .STMT}}
{{if $result.OK}}
{{$.DB.Exec `INSERT INTO migrations VALUES(?,?,?,NULL,?);` .ID now .STMT ($result.Value | toJson)}}
{{else}}
{{$.DB.Exec `INSERT INTO migrations VALUES(?,?,?,?,NULL);` .ID now .STMT ($result.Error | toJson)}}
{{failf "failed to apply migration. id: %d, sqlerror: %s" .ID $result.Error}}
{{end}}
{{end}}
{{end}}

<!--
'migrate-dir' accepts a dot value with fields DB, DIR, and RE. Performs a
database migration using the files listed in DIR that match the regex pattern
RE. The RE patternn must have a subpattern that matches a nonzero numeric string
within the file name which is the migration id. Migration IDs greater than the
current `PRAGMA user_version` are run in id order. Must call
`create-migration-tables` once before calling this template.

Invoke like {{template "migrate-dir" (dict "DB" .DB "DIR" .FS "RE" `^schema\.(\d+)\.sql$`)}}
-->
{{define "migrate-dir"}}
{{range .DIR.List "."}}
    {{$id := atoi (regexReplaceAll $.RE .Name "$1")}}
    {{if eq $id 0}}{{continue}}{{end}}
    {{$.DB.Exec `INSERT INTO migration_files VALUES(?1,?2) ON CONFLICT DO UPDATE SET name = ?2;` $id .Name}}
{{end}}
{{range .DB.QueryRows `SELECT name,id FROM migration_files WHERE id > ? ORDER BY id;` (.DB.QueryVal `PRAGMA user_version;`)}}
    {{$stmt := $.DIR.Read .name}}
    {{$result := try $.DB `Exec` $stmt}}
    {{if $result.OK}}
    {{$.DB.Exec `INSERT INTO migrations VALUES(?,?,?,NULL,?);` .id now $stmt ($result.Value | toJson)}}
    {{$.DB.Exec (printf `PRAGMA user_version=%d;` .id)}}
    {{else}}
    {{$.DB.Exec `INSERT INTO migrations VALUES(?,?,?,?,NULL);` .id now $stmt ($result.Error | toJson)}}
    {{failf "failed to apply migration. id: %d, sqlerror: %s" .ID $result.Error}}
    {{end}}
{{end}}
{{end}}
