<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>

{{$RE := `^manual\.(\d+)\.sql$`}}
<p>Run a manual migration:</p>
{{range .Migrations.List "."}}
{{$id := atoi (regexReplaceAll $RE .Name "$1")}}
{{if eq $id 0}}{{continue}}{{end}}
<form><button hx-post="/db/run" hx-target="#results" hx-swap="beforeend">{{.Name}} ({{$id}})</button><input type="hidden" name="id" value="{{$id}}"></form>
{{end}}

<p>Results:</p>
<ul id="results">
</ul>

{{define "POST /db/run"}}
{{.Req.ParseForm}}
{{$id := atoi (.Req.FormValue "id")}}
{{if eq $id 0}}<li>Invalid id: {{$id}}</li>{{return}}{{end}}
{{$file := printf "manual.%d.sql" $id}}
{{$result := try .Migrations `Read` $file}}
{{if not $result.OK}}<li>Failed to read file <code>{{$file}}</code>: <code>{{$result.Error}}</code></li>{{return}}{{end}}
{{$stmt := $result.Value}}
{{$result := try .DB `Exec` $stmt}}
<li>{{now | date "2006-01-02 15:04:05"}}:
{{if $result.OK}}
Applied migration {{$id}}.
{{else}}
Migration error: <code>{{$result.Error}}</code>
{{end}}
</li>
{{end}}
