<!doctype html>
<title>SSE live feed</title>
<link rel="stylesheet" href="/assets/app.css" />
<h1>Live feed</h1>
<ul id="feed"></ul>
<script>
    new EventSource("/events?count=3&delay=200").onmessage = (e) => {
        const li = document.createElement("li");
        li.textContent = e.data;
        document.getElementById("feed").appendChild(li);
    };
</script>
{{- define "SSE /events"}}
{{- $count := .Req.URL.Query.Get `count` | default `20` | atoi}}
{{- $delay := .Req.URL.Query.Get `delay` | default `1000` | atoi}}
{{- range $i := .Flush.Repeat $count}}
    {{- $.Flush.SendSSE "" (printf "message %d" $i)}}
    {{- $.Flush.Sleep $delay}}
{{- end}}
{{- end}}
